body.layout-golden-gate:not(.is-mobile) {
  .mod-sidedock.mod-left-split {
    margin: 0;
    box-shadow: none;
    border-radius: 0;

    > .workspace-leaf-resize-handle {
      border-color: var(--divider-color);
    }
  }

  .mod-root {
    .clickable-icon:not([aria-disabled="true"]):hover,
    .clickable-icon.has-active-menu {
      box-shadow: none;
      background-color: var(--background-modifier-hover);
    }
  }

  .mod-sidedock.mod-left-split .nav-files-container > div {
    --nav-item-background-hover: var(--background-modifier-hover);
  }

  &.is-fullscreen .mod-sidedock.mod-left-split {
    border-radius: 0;
  }

  &.show-ribbon:not(.hover-ribbon) .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) {
    margin-left: calc(-1 * var(--ribbon-width));
  }

  &:not(.tab-top-left-stacked) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container,
  .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container .sidebar-toggle-button {
    min-height: var(--header-height);
    max-height: var(--header-height);
  }
}
